@{
  Layout = "_Layout";
}

@using CAH.Models;

@model CAH.ViewModels.CardsViewModel;

@{
  Random random = new Random();
  var randomBlackCard = Model.BlackCards[random.Next(Model.BlackCards.Count)];
  var randomWhiteCard = Model.WhiteCards[random.Next(Model.WhiteCards.Count)];
}

<h1>Censorship Against Humanity</h1>

<br><br>
<h2>Random Black Card</h2>
<div class="blackCard">
  <p class="random-card">@randomBlackCard.Text</p>
</div>

<br><br>
<h2>Random White Card</h2>
<div class="whiteCard">
    <p class="random-card">@randomWhiteCard.Text</p>
    @if (TempData["RandomWhiteCard"] != null)
    {
          <p class="random-card">@TempData["RandomWhiteCard"]</p>   
    }
</div>
@Html.ActionLink("Add another white card", "Create", "Game")

<br><br><br>
<h2>White Cards</h2>
@foreach (WhiteCards whiteCards in Model.WhiteCards)
{
  <li>@whiteCards.Text</li>
}

<br><br><br>
<h2>Black Cards</h2>

@foreach (BlackCards blackCards in Model.BlackCards)
{
  <li>@blackCards.Text</li>
}