@{
  Layout = "_Layout";
}

@using CAH.Models;

@model CAH.ViewModels.CardsViewModel;

<h1>Censorship Against Humanity</h1>

<br><br>



<!-- THIS WORKS -->
<div class="win-container">
  <div class="blackCardContainer">
    <div class="blackCard">
      <p class="random-card">@ViewBag.InitialBlackCard</p>
    </div>
    <div class="winningCardContainer hidden">
      <div class="winningCard">
        <p class="random-card" id="winningCardContent"></p>
      </div>
    </div>
  </div>
</div>
<!-- THIS WORKS -->

<br><br>
<h2 id="card-h2">Your Hand</h2>

<!-- whiteCardContainer selector holds all white cards -->
<div class="whiteCardContainer">

  <div class="whiteCard" id="whiteCard1">
      <p onclick="selectWinner()" class="random-card">@ViewBag.whiteCard1</p>
  </div>

  <div class="hidden" id="whiteCardContainer2">
      <div class="whiteCard" id="whiteCard2">
        <p onclick="selectWinner()" class="random-card">@ViewBag.whiteCard2</p>
      </div>
  </div>


  <div class="hidden" id="whiteCardContainer3">
      <div class="whiteCard" id="whiteCard3">
        <p onclick="selectWinner()" class="random-card">@ViewBag.whiteCard3</p>
      </div>
  </div>

  <div class="hidden" id="whiteCardContainer4">
      <div class="whiteCard" id="whiteCard4">
        <p onclick="selectWinner()" class="random-card">@ViewBag.whiteCard4</p>
      </div>
  </div>

  <div class="hidden" id="whiteCardContainer5" >
      <div class="whiteCard" id="whiteCard5">
        <p onclick="selectWinner()" class="winnerCard random-card">@ViewBag.whiteCard5</p>
      </div>
  </div>
</div>

<button id="showAnotherButton" onclick="showNextWhiteCard()">Draw another white card</button>
<br>
<br>
<h2 id="pickWinner">Choose a winning card by clicking on your favorite.</h2>
<button class="hidden" id="newGameButton">@Html.ActionLink("Start Another Game", "Index", "Game")</button>

<script>

var whiteCardIds = [
  document.getElementById("whiteCard1"),
  document.getElementById("whiteCard2"),
  document.getElementById("whiteCard3"),
  document.getElementById("whiteCard4"),
  document.getElementById("whiteCard5"),
];
var whiteCardContainers = [
  document.getElementById("whiteCardContainer2"),
  document.getElementById("whiteCardContainer3"),
  document.getElementById("whiteCardContainer4"),
  document.getElementById("whiteCardContainer5")
];
var nextWhiteCardIndex = 0;



function selectWinner() {
  whiteCardIds.forEach(cardId => {
    cardId.addEventListener("click", function() {
      cardId.classList.add("winner");
      document.getElementById("card-h2").classList.add("hidden");
      document.getElementById("pickWinner").classList.add("hidden");
      document.getElementById("newGameButton").classList.remove("hidden"); 
      whiteCardIds.forEach(otherCardId => {
        otherCardId.classList.add("hidden");
      }); 
      
      document.getElementById("showAnotherButton").classList.add("hidden");
      // document.getElementById("pickWinner").classList.remove("hidden");
      document.querySelector(".winningCardContainer").classList.remove("hidden");
      document.getElementById("winningCardContent").textContent = cardId.querySelector(".random-card").textContent;
      
    });
  });
}

function showNextWhiteCard() {
  if (nextWhiteCardIndex < whiteCardContainers.length) {
    var whiteCardContainer = whiteCardContainers[nextWhiteCardIndex];
    whiteCardContainer.classList.remove("hidden");
    nextWhiteCardIndex++;

    if (nextWhiteCardIndex === whiteCardContainers.length) {
      document.getElementById("showAnotherButton").classList.add("hidden");
      document.getElementById("pickWinner").classList.remove("hidden");
      document.getElementById("newGameButton").classList.remove("hidden"); 
    } 
  }
}

</script>