@{
  Layout = "_Layout";
}

@using CAH.Models;

@model CAH.ViewModels.CardsViewModel;

<h1>Censorship Against Humanity</h1>

<br><br>

<h2 id="card-h2">Random Black Card</h2>
<div class="blackCard">
  <p class="random-card">@ViewBag.InitialBlackCard</p>
</div>


<br><br>
<h2 id="card-h2">Your Cards</h2>

<div class="whiteCardContainer">
  <div class="whiteCard">
      <p class="random-card">@ViewBag.whiteCard1</p>
  </div>
</div>
  
<div class="hidden">
  <div class="whiteCardContainer" id="whiteCardContainer2">
    <div class="whiteCard">
      <p class="random-card">@ViewBag.whiteCard2</p>
    </div>
  </div>
</div>

<button onclick="showWhiteCard()">Show another white card</button>

<script>
function showWhiteCard() {
  var whiteCardContainer = document.getElementById("whiteCardContainer2");
  whiteCardContainer.classList.remove("hidden");
}

</script>

<!-- @Html.ActionLink("Add another white card", "Create"); -->

<br><br><br>
<!-- <h2>White Cards</h2>
@foreach (WhiteCards whiteCards in Model.WhiteCards)
{
  <li>@whiteCards.Text</li>
}

<br><br><br>
<h2>Black Cards</h2>

@foreach (BlackCards blackCards in Model.BlackCards)
{
  <li>@blackCards.Text</li>
} -->