@{
  Layout = "_Layout";
}

@using CAH.Models;

@model CAH.ViewModels.CardsViewModel;

<h1>Censorship Against Humanity</h1>

<br><br>

<h2 id="card-h2">Random Black Card</h2>
<div class="blackCard">
  <p class="random-card">@ViewBag.BlackCard</p>
</div>


<br><br>
<h2 id="card-h2">Your Cards</h2>

<div class="whiteCardContainer">
  <div class="whiteCard">
      <p class="random-card">@ViewBag.WhiteCard1</p>
  </div>
  


<!-- @Html.ActionLink("Add another white card", "Create"); -->

<br><br><br>
<!-- <h2>White Cards</h2>
@foreach (WhiteCards whiteCards in Model.WhiteCards)
{
  <li>@whiteCards.Text</li>
}

<br><br><br>
<h2>Black Cards</h2>

@foreach (BlackCards blackCards in Model.BlackCards)
{
  <li>@blackCards.Text</li>
} -->